<div class="min-h-screen h-full">
  <app-user-profile></app-user-profile>
  <div class="flex justify-around px-20 align-items-center">
    <div class="flex align-items-center justify-center col-md-5">
      <svg
        class="my-auto"
        xmlns="http://www.w3.org/2000/svg"
        width="210.169"
        height="125.822"
        viewBox="0 0 210.169 125.822"
      >
        <g
          id="Group_55"
          data-name="Group 55"
          transform="translate(-82.036 -78.896)"
        >
          <g
            id="Group_15"
            data-name="Group 15"
            transform="translate(-52.783 35)"
          >
            <g
              id="Group_14"
              data-name="Group 14"
              transform="translate(175.427 114.405) rotate(-141)"
            >
              <path
                id="Path_32"
                data-name="Path 32"
                d="M18.73.088C-.291-.307.018,4.714.018,4.714S63.16,9.44,45.234,2.21,26.422,7.8,26.422,7.8s-.754,16.344-5.133,15.968-3.623-16.99-3.623-16.99"
                transform="translate(0 25.915)"
                fill="none"
                stroke="#4469c3"
                stroke-width="2"
              />
              <path
                id="Path_33"
                data-name="Path 33"
                d="M3.428,26.134l2.146-17S.279,4.53.006.98,8.154,4.669,8.154,4.669,12.7-.575,15.347.98c.49.288.1.615,0,1.216-.4,2.422-4.836,6.938-4.836,6.938l1.121,17"
                transform="translate(14.102 0)"
                fill="none"
                stroke="#4469c3"
                stroke-width="2"
              />
            </g>
          </g>
          <path
            id="Path_34"
            data-name="Path 34"
            d="M585,160.188s-60.7,102.794,71.045,48.9,77.075-82.076,77.075-82.076-50.289-30.525-57.975,48.835,104.681,33.241,104.681,33.241"
            transform="translate(-488 -21)"
            fill="none"
            stroke="#ffc4a1"
            stroke-width="2"
            stroke-dasharray="2"
          />
        </g>
      </svg>
    </div>

    <div class="my-auto col-md-4">
      <div class="text-center my-3 text-3xl font-medium">
        Review for flight {{ flightId }}
      </div>
      <form
        novalidate
        class="c-form"
        (ngSubmit)="postReview()"
        [formGroup]="reviewForm"
      >
        <div
          class="form-group row mb-4 border-b-0.5 hover:border-b-2 border-maintheme-grey"
        >
          <!--  <div class="m-2 flex align-items-center">
             <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                id="XMLID_440_"
                d="M9,0a9,9,0,1,0,3.637,17.235.615.615,0,1,0-.5-1.126,7.759,7.759,0,1,1,4.26-4.732c-.529,1.648-1.4,2.157-1.821,2.091-.406-.064-.437-.67-.437-.855V5.3a.615.615,0,0,0-1.231,0v.362a5.14,5.14,0,1,0,0,6.668v.279a1.9,1.9,0,0,0,1.478,2.071c1.062.166,2.46-.675,3.184-2.931A9.006,9.006,0,0,0,9,0ZM9,12.909A3.909,3.909,0,1,1,12.91,9,3.914,3.914,0,0,1,9,12.909Z"
                transform="translate(-0.001)"
                fill="#ffc4a1"
              />
            </svg>
          </div> -->

          <div class="col-md border-maintheme-grey">
            <label
              class="col-form-label text-maintheme-grey uppercase"
              for="subjectId"
              >Subject</label
            >
            <div class="">
              <select id="subjectId" formControlName="subject">
                <option
                  *ngFor="let subject of subjects"
                  [value]="subject.subject"
                >
                  {{ subject.subject }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group row mb-4 border-b-0.5 border-maintheme-grey">
          <!-- <div class="m-2 flex align-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="24"
              viewBox="0 0 18 24"
            >
              <g id="closed" transform="translate(-64)">
                <g id="Group_13" data-name="Group 13" transform="translate(64)">
                  <g id="Group_12" data-name="Group 12">
                    <path
                      id="Path_30"
                      data-name="Path 30"
                      d="M214.151,280.941l-.315,2.836a.5.5,0,0,0,.5.555h2a.5.5,0,0,0,.5-.555l-.315-2.836a1.978,1.978,0,0,0,.818-1.608,2,2,0,0,0-4,0A1.978,1.978,0,0,0,214.151,280.941Zm1.182-2.608a1,1,0,0,1,.432,1.9.5.5,0,0,0-.279.505l.289,2.6h-.883l.289-2.6a.5.5,0,0,0-.279-.505,1,1,0,0,1,.432-1.9Z"
                      transform="translate(-206.333 -264.333)"
                      fill="#ffc4a1"
                    />
                    <path
                      id="Path_31"
                      data-name="Path 31"
                      d="M81.5,9H80V7A7,7,0,0,0,66,7V9H64.5a.5.5,0,0,0-.5.5V22a2,2,0,0,0,2,2H80a2,2,0,0,0,2-2V9.5A.5.5,0,0,0,81.5,9ZM67,7A6,6,0,0,1,79,7V9H78V7A5,5,0,0,0,68,7V9H67ZM77,7V9H69V7a4,4,0,0,1,8,0Zm4,15a1,1,0,0,1-1,1H66a1,1,0,0,1-1-1V10H81Z"
                      transform="translate(-64)"
                      fill="#ffc4a1"
                    />
                  </g>
                </g>
              </g>
            </svg>
          </div> -->
          <div class="col-md border-maintheme-grey">
            <label
              class="col-form-label text-maintheme-grey uppercase"
              for="passwordId"
              >Description</label
            >
            <div class="">
              <textarea
                class="c-form__input bg-maintheme-lightblue w-100"
                id="passwordId"
                placeholder="Describe your flight experience"
                required
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-group row m-4">
          <div class="offset-md-2 col-md-4 flex flex-row justify-center">
            <button
              class="btn bg-maintheme-darkblue text-maintheme-lightblue rounded-md"
              type="submit"
              style="width: 80px"
              [title]="
                reviewForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              "
              [disabled]="!reviewForm.valid"
            >
              Save Review
            </button>
            <!-- <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="populateTestData()"
            >
              Test Data
            </button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
