<div
  class="min-h-screen h-full my-auto flex flex-col items-center justify-content-center"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="123.848"
    height="158.909"
    viewBox="0 0 123.848 158.909"
  >
    <g
      id="Group_31"
      data-name="Group 31"
      transform="translate(-127.463 -364.239)"
    >
      <path
        id="Path_35"
        data-name="Path 35"
        d="M2651.43,68.821s6.436-24.533,42.279-21.274c34.3,3.119,31.056,14.537,38.39,25.94h0c3.686,5,1.354,23.245-10.674,44.541-6.033,10.681-19.888,27.005-26.113,34.89-9.759,12.362-8.552,21.214-8.552,21.214"
        transform="translate(-2523 318)"
        fill="none"
        stroke="#ffc4a1"
        stroke-width="2"
        stroke-dasharray="2 2"
      />
      <g id="Group_15" data-name="Group 15" transform="translate(43.216 385)">
        <g
          id="Group_14"
          data-name="Group 14"
          transform="translate(175.427 114.405) rotate(-141)"
        >
          <path
            id="Path_32"
            data-name="Path 32"
            d="M18.73.088C-.291-.307.018,4.714.018,4.714S63.16,9.44,45.234,2.21,26.422,7.8,26.422,7.8s-.754,16.344-5.133,15.968-3.623-16.99-3.623-16.99"
            transform="translate(0 25.915)"
            fill="none"
            stroke="#4469c3"
            stroke-width="2"
          />
          <path
            id="Path_33"
            data-name="Path 33"
            d="M3.428,26.134l2.146-17S.279,4.53.006.98,8.154,4.669,8.154,4.669,12.7-.575,15.347.98c.49.288.1.615,0,1.216-.4,2.422-4.836,6.938-4.836,6.938l1.121,17"
            transform="translate(14.102 0)"
            fill="none"
            stroke="#4469c3"
            stroke-width="2"
          />
        </g>
      </g>
      <path
        id="Path_36"
        data-name="Path 36"
        d="M2686.545,186.169s-3.874,6.45,2.4,6.728,4.577,7.661,4.577,7.661-5.544,6.97-10.484,1.375-1.458-7.414-1.458-7.414l28.921-22.172"
        transform="translate(-2523 318)"
        fill="none"
        stroke="#ffc4a1"
        stroke-width="2"
        stroke-dasharray="2 2"
      />
    </g>
  </svg>
  <p class="md:text-xl text-maintheme-darkblue pt-4 mx-4">
    Wondering how you landed here? Don't worry, fasten your seatbelts and we
    will get you back to the discover all our flights.
  </p>
</div>
