<div class="h-screen">
  <header>
    <p>Available flights</p>
  </header>
  <main>
    <div>
      <!--Available flight component-->
      <div>
        <svg></svg>
        <div>
          <p>Brussels</p>
          <p>10 Feb, 11u</p>
          <p>New York</p>
          <p>10 Feb, 13u25</p>
        </div>
        <div>
          <p>Duration:</p>
          <p>8u25</p>
          <p>Flight number:</p>
          <p>EB202</p>
        </div>
      </div>
      <div>
        <p>Buy now</p>
        <div>
          <p>Economy class</p>
          <p>€503</p>
          <p>Business class</p>
          <p>€1402</p>
          <p>Seats available</p>
          <p>34</p>
          <p>Seats available</p>
          <p>34</p>
        </div>
      </div>
    </div>
  </main>
</div>
