html {
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-form {
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: var(--global-whitespace-xxxl);
    width: 100%;
    padding: var(--global-whitespace-sm);
    // border: none;
  }
}

.sm-text {
  font-size: 0.75rem;
  &__upper {
    text-transform: uppercase;
    color: #9da5ab;
  }
}

.custom-card-grid {
  grid-template-columns: 1fr 2fr 3fr;
  z-index: 2;
}
.custom-button {
  right: -1.5rem;
  bottom: -1.25rem;
}
