:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
html {
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-form {
  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: var(--global-whitespace-xxxl);
    width: 100%;
    padding: var(--global-whitespace-sm);
    // border: none;
  }
  &__select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    &::after {
      content: "";
      width: 0.8em;
      height: 0.5em;
      background-color: var(--select-arrow);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  }
}
select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.sm-text {
  font-size: 0.75rem;
  &__upper {
    text-transform: uppercase;
    color: #9da5ab;
  }
}

.custom-card-grid {
  grid-template-columns: 1fr 2fr 3fr;
  z-index: 2;
}
.custom-button {
  right: -1.5rem;
  bottom: -1.25rem;
}
